<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>


<div class="container"></div>

    <h3 class="row d-flex justify-content-center">Gerenciamento de Usuários</h3>


    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>

         <% resultado.usuarios.rows.forEach( usuario => { %>
                <tr>
                    <td> <%= usuario.codigo %> </td>
                    <td> <%= usuario.nome %>  </td>
                    <td> <%= usuario.email %> </td>            
                </tr>
        <% }) %>


        </tbody>
    </table>

    <div class="row d-flex justify-content-center">

        <a href="/usuario/cadastro"><i class="bi bi-plus-circle" style="font-size: 2rem; color: black"></i>&nbsp;&nbsp;</a>
        <a href="!#"><i class="bi bi-search" style="font-size: 2rem; color: black "></i>&nbsp;&nbsp;</a>
        <% if (resultado.pagina >= 2) { %>
            <a href="/usuario/listar/page/1"><i class="bi bi-chevron-bar-left" style="font-size: 2rem; color: black "></i></a>    
            <a href="/usuario/listar/page/<%- resultado.pagina - 1 %>"><i class="bi bi-chevron-left" style="font-size: 2rem; color: black "></i></a>    
        <% } else if (resultado.prox) { %>
            <a href="/usuario/listar/page/<%- resultado.pagina + 1 %>"><i class="bi bi-chevron-right" style="font-size: 2rem; color: black "></i></a>
            <a href="/usuario/listar/page/<%= resultado.pagina %>"><i class="bi bi-chevron-bar-right" style="font-size: 2rem; color: black "></i></a>
        <% } %>

    </div>
</div>

 
<%- include('../partials/footer.ejs') %>    

